<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.AddressMapper">

    <select id="getAll">
        select * from address
    </select>

    <select id="getAddressById" parameterType="Integer" resultType="address">
        select * from address where id = #{id}
    </select>
    
    <insert id="insertAddress">
        insert into address(id,province,city,county,address_detail,postal_code,mobile,is_default,user_id)
        values (#{id},#{province},#{city},#{county},#{address_detail},#{postal_code},#{mobile},#{is_default},#{user_id})
    </insert>

    <update id="updateAddress">
        update address set
            province = #{province},
            city = #{city},
            county = #{county},
            address_detail = #{address_detail},
            postal_code = #{postal_code},
            mobile = #{mobile},
            is_default = #{is_default}
        where id = #{id}
    </update>

    <delete id="deleteAddress" parameterType="java.util.List">
        delete from address where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id, jdbcType=BIGINT}
        </foreach>
    </delete>
</mapper>