<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.CommentMapper">

    <select id="findCommentById" parameterType="Integer" resultType="xmu.oomall.domain.Comment">
            select *
            from comment where id = #{id}
    </select>

    <!--    TODO: finish functions -->
    <insert id="insertComment" parameterType="xmu.oomall.domain.Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment(id, user_id, content, status_code, type, star, product_id, topic_id, gmt_create, gmt_modified, be_deleted )
        values (#{id},#{userId},#{content},#{statusCode},#{type},#{star},#{productId},#{topicId},#{gmtCreate},#{gmtModified},#{beDeleted})
    </insert>

    <delete id="deleteComment" parameterType="Integer">
        delete from comment where id = #{id}
    </delete>

    <update id="updateComment" parameterType="xmu.oomall.domain.Comment" useGeneratedKeys="true" keyProperty="id">
        update comment set
            content = #{content},
            status_code = #{statusCode},
            type = #{type},
            star = #{star},
            product_id = #{productId},
            topic_id = #{topicId},
            be_deleted = #{beDeleted}
        where id = #{id}
    </update>

    <select id="showCommentsByProduct" parameterType="Integer" resultType="xmu.oomall.domain.Comment">
            select *
            from comment where product_id = #{productId}
    </select>

    <select id="showCommentsByUser" parameterType="Integer" resultType="xmu.oomall.domain.Comment">
            select *
            from comment where user_id = #{userId}
    </select>


</mapper>